.profile-pic{
  width: 30%;
  height: 30%;
  border-radius: 50%;
  border: 3px solid #333;
}

.title {
    font-size: 2.5em;
    color:slategray;
    text-align: center;
  }
  
  .section__text__p1 {
    font-size: 1.2em;
    color:slategray;
    text-align: center;
  }
  
  .nav-links {
    display: flex;
    justify-content: center;
    list-style-type: none;
  }
  
  .nav-links li {
    margin: 0 15px;
    font-size: 1.5em;
  }
  
  .link-button {
    color: #007BFF;
    font-weight: bold;
  }

  /* Selectores por ID */
  #profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f4f4f4;
  }
  
  .profile-pic {
    border-radius: 50%;
    width: 350px;
    height: 350px;
    border: 3px solid #333;
  }
  
  .row{
    justify-content: center;
    display: flex;
    margin-bottom: 20px;
}    

  .rounded-image{
    width: 300px;
    height: 300px;
    gap: 20px;
    border-radius: 50%;
    border: 3px solid #f4f4f4;
  }

  img {
  width: 40%;
  margin: 10px;
  border-radius: 50%;
  border: 3px solid #f4f4f4;
  }

  .image-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

/*MEDIA QUERIES, Responsive*/
/* Breakpoints */
/* dispositivos pequeños */
@media (max-width: 575px) { 
  .img {
    width: 50%;
  }
}

/* dispositivos medianos */ 
@media (min-width: 576px) and (max-width: 767px) {
   .img{
    width: 30%;
   }
}

/* dispositivos grandes */
@media (min-width: 768px) and (max-width: 991px) {
  .img{
    width: 25%;
  }
}

/* dispositivos extra grandes */
@media (min-width: 992px) {  
  .img{
    width: 20%;
  }
}
